body { background: #d4d0df; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 46px; display: flex; }
.block-product-0 { color: #fe2867; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #ab57c; font-size: 18px; margin-bottom: 5px; }
.block-logger-2 { color: #11759d; font-size: 19px; margin-bottom: 5px; }
.block-product-3 { color: #e4ff56; font-size: 14px; margin-bottom: 5px; }
.block-sms-4 { color: #daab28; font-size: 19px; margin-bottom: 5px; }
.block-logger-5 { color: #1e6107; font-size: 12px; margin-bottom: 5px; }